/* ---------global--------------- */
.container {
  margin: 0 auto;
  max-width: 1024px;
  box-sizing: border-box;
  /* padding: 0 20px 20px 20px; */
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
p {
  margin: 10px 0;
}

/* ---------header---------------- */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img/image.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 10px;
}

/* ------------------------------- */
/* ---------menu-nav-------------- */
.nav-menu {
  background-color: whitesmoke;
  display: flex;
  margin-top: 5px;
  padding: 15px 20px;

  justify-content: space-between;
  border-radius: 10px;
}
.rightNav {
  display: flex;
  gap: 10px;
}
.rightNav h3:hover {
  cursor: pointer;
  opacity: 0.8;
}
.leftNav h3:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* ------------main------------- */

/* -content- */
.content {
  display: flex;
  justify-content: space-between;
}
.mainContent {
  margin-top: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: lightgray;
  width: calc(60%);
}
.mainContent img {
  object-fit: cover;
  margin-top: 10px;
  width: 100%;

  border-radius: 10px;
}
.sidecontent {
  margin-top: 5px;
  padding: 20px;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  width: calc(30%);
  margin-left: 5px;
  height: 100%;
}
.sidecontent img {
  object-fit: cover;
  margin-top: 10px;
  width: 100%;

  border-radius: 10px;
}

/* -side-content- */

/* ------------footer----------- */

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

.footer > div {
  width: 300px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.footer > div > a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
}
/* ----------- */

@media (max-width: 1000px) {
  .sidecontent {
    display: none;
  }
  .content {
    justify-content: center;
  }
}
